		<!-- Service Section -->
		<section id="services" class="container content-section">
			<hr class="featurette-divider">
			<h2>PHOENIXが提供するサービス</h2>
			<!-- First Featurette -->
			<div class="featurette">
				<h3>1. AWS上にVPCを展開します。</h3>
				<p class="lead">
					企業レベルのVPCインフラストラクチャーがボタン一つで展開されます。
					<br/>
					サービス毎にVPCを増やせる仕組みなので、簡単にサービスの管理が行えます。
					<br/>
					※構成図
				</p>
			</div>
			<!-- 2nd Featurette -->
			<div class="featurette">
				<h3>2. よりよい開発サイクルを提供します。</h3>
				<p class="lead">
					プログラムの管理にGithubを利用していれば
					<br/>
					GithubへPush → AWS CodeDeploy → AWS VPC
					<br/>
					に自動的に展開される開発サイクルが手に入ります。
					<br/>
					※構成図
				</p>
			</div>
			<!-- 3rd Featurette -->
			<div class="featurette">
				<h3>3. 費用はたったの10%です。</h3>
				<p class="lead">
					AWSの利用料に、10%上乗せした金額が、そのままPHOENIXの利用料になります。
					<br/>
					※構成図
				</p>
			</div>
		</section>